<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434176455713-gcfajv1mgetrutsnvvp254f4gm515rp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434176455713-gcfajv1mgetrutsnvvp254f4gm515rp9</string>
	<key>API_KEY</key>
	<string>AIzaSyDbF6Sz8OdlAWNvFp0VJIiKJoHcjiq_MQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>434176455713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativefbfirebasestarter.app</string>
	<key>PROJECT_ID</key>
	<string>teststart-67f9d</string>
	<key>STORAGE_BUCKET</key>
	<string>teststart-67f9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434176455713:ios:2cf6b8bc861bb364</string>
	<key>DATABASE_URL</key>
	<string>https://teststart-67f9d.firebaseio.com</string>
</dict>
</plist>